<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>user list</title>
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>email</th>
            </tr>
            <tr th:each="u : ${userInfoForms}">
                <td th:text="${u.id}">ID</td>
                <td th:text="${u.name}">name</td>
                <td th:text="${u.email}">email</td>
            </tr>
        </table>
    </body>
</html>